* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

input,
button,
textarea {
  background-color: #fff;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/*
I decided for this small project not to use anything Sass offers. I also always strive to create comprehensive responsiveness for projects, not just according to the desktop/mobile requirements in the task. In every project, I try to write Sass and showcase various features/techniques. The bigger the project, the more complex I will go.
*/
@media (max-width: 1300px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 1040px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 940px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 465px) {
  html {
    font-size: 45%;
  }
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.huddle {
  max-width: 144rem;
  width: 100%;
  height: auto;
  background: url("../images/bg-desktop.svg") no-repeat;
  background-color: #684bb1;
  color: #fff;
  padding: 5rem;
  font-family: "Open Sans", serif;
  font-weight: normal;
}
@media (max-width: 800px) {
  .huddle__header {
    display: flex;
    justify-content: center;
  }
}
.huddle__header-logo {
  width: 20rem;
  height: 3.2rem;
}
.huddle .huddle__main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  margin-top: 11rem;
}
@media (max-width: 940px) {
  .huddle .huddle__main {
    margin-top: 7rem;
  }
}
@media (max-width: 800px) {
  .huddle .huddle__main {
    flex-direction: column;
    text-align: center;
  }
}
.huddle .huddle__main-img {
  width: 69.6rem;
  height: 49.3rem;
}
@media (max-width: 940px) {
  .huddle .huddle__main-img {
    width: 45rem;
    height: auto;
  }
}
.huddle__content {
  width: 52rem;
  height: 30.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-self: flex-start;
  margin-top: 3rem;
}
@media (max-width: 940px) {
  .huddle__content {
    width: 46rem;
  }
}
@media (max-width: 800px) {
  .huddle__content {
    align-self: auto;
    align-items: center;
    margin-bottom: 6rem;
  }
}
.huddle__content-heading {
  font-family: "Poppins", serif;
  font-size: 4rem;
  font-weight: 600;
  line-height: 6rem;
}
@media (max-width: 940px) {
  .huddle__content-heading {
    font-size: 3rem;
    line-height: 4.5rem;
  }
}
.huddle__content-paragraph {
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.huddle__content-btn {
  width: 20rem;
  height: 5.6rem;
  color: #684bb1;
  background-color: #fff;
  line-height: 5.6rem;
  border-radius: 2.8rem;
  box-shadow: 0.2rem 0.4rem 0.9rem 0.3rem rgba(0, 0, 0, 0.26);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: "Poppins", serif;
  font-size: 1.8rem;
  font-weight: 400;
}
@media (max-width: 940px) {
  .huddle__content-btn {
    width: 15rem;
  }
}
@media (max-width: 800px) {
  .huddle__content-btn {
    width: 20rem;
  }
}
.huddle__content-btn:hover {
  color: #fff;
  background-color: #e880e8;
}
.huddle__footer {
  display: flex;
  justify-content: end;
  margin-top: 3.5rem;
}
@media (max-width: 800px) {
  .huddle__footer {
    justify-content: center;
  }
}
.huddle__social {
  width: 15.2rem;
  display: flex;
  gap: 1.6rem;
  margin-right: 2.5rem;
}
@media (max-width: 800px) {
  .huddle__social {
    margin-right: 0;
  }
}
.huddle__social-link:link, .huddle__social-link:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0.118rem solid #fff;
  transition: all 0.3s;
}
.huddle__social-link:hover, .huddle__social-link:active {
  color: #ff52c1;
  border-color: #ff52c1;
}
.huddle__social-link .fa-brands {
  font-size: 1.8rem;
}
